@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #fc353a;
  --white: #ffffff;
  --black: #111111;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: 0.5s;
  overflow-wrap: break-word;
}

html,
body {
  background-color: var(--white);
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh;
  color: black;
  font-family: "Fredoka", sans-serif;
  scroll-behavior: smooth;
}

#Home {
  display: flex;
  /* display: none; */
  justify-content: space-between;
  flex-direction: column;
  height: 900px;
  width: 100%;

  background-color: var(--primary);
  color: var(--white);
  padding: 40px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #leftLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    svg {
      height: 36px;
      width: auto;

      path {
        stroke-width: 2.5;
      }

      &:hover {
        cursor: pointer;
      }
    }

    img {
      height: 48px;
      width: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #centerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #fff6;
    padding: 6px 8px;
    border-radius: 999px;

    a {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: var(--white);
      font-size: 14px;
      padding: 6px 16px;
      border-radius: 999px;
      font-weight: 500;

      &:hover,
      &:nth-child(1) {
        background-color: var(--white);
        color: var(--primary);
      }
    }
  }

  #rightLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    a {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: var(--white);
      font-size: 14px;
      padding: 6px 16px;
      border-radius: 999px;
      font-weight: 500;
      color: var(--white);
      border: 1.5px solid var(--primary);
    }

    .signUp {
      background-color: var(--white);
      color: var(--primary);
      border: 1.5px solid var(--white);

      &:hover {
        background-color: var(--primary);
        color: var(--white);
        border: 1.5px solid var(--white);
      }
    }

    .signIn {
      background-color: var(--primary);
      color: var(--white);
      border: 1.5px solid var(--white);

      &:hover {
        background-color: var(--white);
        color: var(--primary);
        border: 1.5px solid var(--white);
      }
    }
  }
}

main {
  height: fit-content;
  width: 100%;

  #home-Container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;

    #left-Container {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 36px;

      #upperContainer {
        width: 100%;
        font-size: 64px;
        font-weight: 700;
        background: linear-gradient(
          90deg,
          #fc353a 0%,
          #fc353a 10%,
          #ea3035 34%,
          #db2d31 75%,
          #db2d31
        );
        transform: skew(-20deg, -1deg);
        padding: 30px 50px 30px 0;
        border-radius: 0 80px 30px 0;

        #upperContainer-text {
          transform: skew(20deg, 1deg);
        }
      }

      #lowerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        padding-bottom: 50px;

        #searchContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--white);
          padding: 20px 20px;
          border-radius: 999px;
          gap: 16px;

          form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            gap: 16px;

            img {
              height: 32px;
              width: auto;
            }

            input {
              all: unset;
              width: 100%;
              flex-grow: 1;
              color: var(--black);
              font-size: 18px;
              font-weight: 500;

              &::placeholder {
                color: rgb(149, 149, 149);
              }
            }
          }

          button {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 36px;
            background-color: var(--black);
            color: var(--white);
            border-radius: 999px;

            font-size: 18px;
          }
        }

        span {
          font-size: 24px;
          font-weight: 500;
          gap: 8px;

          a {
            color: var(--white);
          }
        }
      }
    }

    #right-Container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: end;
      flex-direction: column;

      img {
        width: 90%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  #findMore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    font-size: 30px;
    font-weight: 600;
  }
}

#City {
  height: fit-content;
  width: 100%;
  padding: 40px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 56px;

  #city-title {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  #city-Container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .city-List {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: 28px;
      font-size: 20px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  #view-all {
    display: none;
  }
}

#Map {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10%;

  iframe {
    width: 100%;
    height: 550px;
    border-radius: 30px;
  }
}

#Footer {
  width: 100;
  height: fit-content;
  margin: 40px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf6f2;
  font-family: "Poppins";
  border-radius: 30px;

  #footer-leftContainer {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #5c6574;

    img {
      width: auto;
      height: 90px;
    }
  }

  #footer-rightContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 14px;

    .footer-links {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 12px;

      a {
        text-decoration: none;
        color: var(--black);
        font-weight: 500;
      }
    }

    .footer-socialMedia {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 12px;
      font-weight: 600;
      gap: 12px;

      #socialMedia-Icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        img {
          height: 20x;
          width: auto;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #Home {
    height: 80%;
    padding: 20px;
  }

  nav {
    #leftLink {
      gap: 12px;

      svg {
        height: 36px;
      }

      img {
        height: 42px;
      }
    }

    #centerLink {
      display: none;
    }

    #rightLink {
      gap: 6px;

      a {
        font-size: 12px;
        padding: 6px 16px;
        font-weight: 600;
        border: 2px solid var(--primary);
      }

      .signUp {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }

      .signIn {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }
    }
  }

  main {
    height: fit-content;

    #home-Container {
      width: 100%;
      flex-direction: column;

      #left-Container {
        width: 100%;
        flex-direction: column;
        gap: 28px;

        #upperContainer {
          font-size: 34px;
          padding: 20px;
          border-radius: 0 50px 20px 0;
        }

        #lowerContainer {
          gap: 24px;
          align-items: center;

          #searchContainer {
            padding: 14px;
            gap: 12px;

            form {
              gap: 08px;

              img {
                height: 24px;
              }

              input {
                font-size: 14px;
              }
            }

            button {
              padding: 10px 16px;
              font-size: 16px;
            }
          }

          span {
            font-size: 16px;
          }
        }
      }

      #right-Container {
        width: 100%;
        align-items: center;

        img {
          width: 70%;
        }
      }
    }

    #findMore {
      gap: 8px;
      font-size: 20px;
    }
  }

  #City {
    padding: 20px;
    gap: 48x;

    #city-title {
      font-size: 28px;
    }

    #city-Container {
      align-items: start;

      .city-List {
        gap: 24px;
        font-size: 16px;
      }

      :nth-child(3) {
        display: none;
      }
    }

    #view-all {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: var(--primary);
      cursor: pointer;
    }
  }

  #Map {
    padding: 20px;

    iframe {
      width: 100%;
      height: 80dvw;
    }
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  #Home {
    height: 100%;
    padding: 40px;
  }

  nav {
    #leftLink {
      gap: 12px;

      svg {
        height: 36px;
      }

      img {
        height: 46px;
      }
    }

    #centerLink {
      display: none;
    }

    #rightLink {
      gap: 6px;

      a {
        font-size: 12px;
        padding: 6px 16px;
        font-weight: 600;
        border: 2px solid var(--primary);
      }

      .signUp {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }

      .signIn {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }
    }
  }

  main {
    height: fit-content;

    #home-Container {
      width: 100%;
      flex-direction: column;

      #left-Container {
        width: 100%;
        flex-direction: column;
        gap: 28px;

        #upperContainer {
          font-size: 46px;
          padding: 20px;
          border-radius: 0 50px 20px 0;
        }

        #lowerContainer {
          gap: 24px;
          align-items: center;

          #searchContainer {
            padding: 14px;
            gap: 12px;

            form {
              gap: 08px;

              img {
                height: 24px;
              }

              input {
                font-size: 16px;
              }
            }

            button {
              padding: 10px 16px;
              font-size: 16px;
            }
          }

          span {
            font-size: 16px;
          }
        }
      }

      #right-Container {
        width: 100%;
        align-items: center;

        img {
          width: 70%;
        }
      }
    }

    #findMore {
      gap: 8px;
      font-size: 20px;
    }
  }

  #City {
    padding: 20px;
    gap: 48x;

    #city-title {
      font-size: 28px;
    }

    #city-Container {
      .city-List {
        gap: 24px;
        font-size: 16px;
      }
    }
  }

  #Map {
    padding: 20px;

    iframe {
      width: 100%;
      height: 350px;
    }
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #Home {
    height: 100%;
    padding: 40px 80px;
  }

  nav {
    #leftLink {
      gap: 16px;

      svg {
        height: 38px;
      }

      img {
        height: 48px;
      }
    }

    #centerLink {
      display: none;
    }

    #rightLink {
      gap: 6px;

      a {
        font-size: 12px;
        padding: 6px 16px;
        font-weight: 600;
        border: 2px solid var(--primary);
      }

      .signUp {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }

      .signIn {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }
    }
  }

  main {
    height: fit-content;

    #home-Container {
      width: 100%;
      flex-direction: column;

      #left-Container {
        width: 100%;
        flex-direction: column;
        gap: 28px;

        #upperContainer {
          font-size: 46px;
          padding: 20px;
          border-radius: 0 50px 20px 0;
        }

        #lowerContainer {
          gap: 24px;
          align-items: center;

          #searchContainer {
            padding: 14px;
            gap: 12px;

            form {
              gap: 08px;

              img {
                height: 24px;
              }

              input {
                font-size: 16px;
              }
            }

            button {
              padding: 10px 16px;
              font-size: 16px;
            }
          }

          span {
            font-size: 16px;
          }
        }
      }

      #right-Container {
        width: 100%;
        align-items: center;

        img {
          width: 70%;
        }
      }
    }

    #findMore {
      gap: 8px;
      font-size: 20px;
    }
  }

  #City {
    padding: 40px 80px;
    gap: 48x;

    #city-title {
      font-size: 28px;
    }

    #city-Container {
      .city-List {
        gap: 24px;
        font-size: 16px;
      }
    }
  }

  #Map {
    padding: 40px 80px;

    iframe {
      width: 100%;
      height: 350px;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #Home {
    height: 100%;
    padding: 40px 100px;
  }

  nav {
    #leftLink {
      gap: 16px;

      svg {
        height: 38px;
      }

      img {
        height: 48px;
      }
    }

    #centerLink {
      display: none;
    }

    #rightLink {
      gap: 6px;

      a {
        font-size: 12px;
        padding: 6px 16px;
        font-weight: 600;
        border: 2px solid var(--primary);
      }

      .signUp {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }

      .signIn {
        border: 2px solid var(--white);

        &:hover {
          border: 2px solid var(--white);
        }
      }
    }
  }

  main {
    height: fit-content;

    #home-Container {
      width: 100%;
      flex-direction: column;

      #left-Container {
        width: 100%;
        gap: 28px;

        #upperContainer {
          font-size: 52px;

          #upperContainer-text {
            text-align: center;
          }
        }

        #lowerContainer {
          gap: 28px;
          padding-bottom: 32px;

          #searchContainer {
            width: 100%;
            padding: 12px;

            form {
              gap: 14px;

              img {
                height: 22px;
              }

              input {
                font-size: 18px;
                font-weight: 400;
              }
            }

            button {
              padding: 10px 24px;
              font-size: 16px;
            }
          }

          span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
          }
        }
      }

      #right-Container {
        width: 100%;

        img {
          width: 70%;
        }
      }
    }
  }

  #City {
    padding: 40px 100px;
    gap: 48x;

    #city-title {
      font-size: 28px;
    }

    #city-Container {
      .city-List {
        gap: 24px;
        font-size: 16px;
      }
    }
  }

  #Map {
    padding: 40px 100px;

    iframe {
      width: 100%;
      height: 400px;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #Home {
    height: 750px;
  }

  nav {
    #leftLink {
      gap: 8px;
    }

    #centerLink {
      gap: 2px;
      padding: 6px 8px;

      a {
        font-size: 14px;
        padding: 6px 14px;

        &:nth-child(6) {
          display: none;
        }
      }
    }

    #rightLink {
      gap: 6px;

      a {
        font-size: 14px;
        padding: 6px 14px;
      }
    }
  }

  main {
    width: 100%;

    #home-Container {
      width: 100%;
      gap: 32px;

      #left-Container {
        width: 60%;
        gap: 36px;

        #upperContainer {
          width: 100%;
          font-size: 48px;
        }

        #lowerContainer {
          gap: 36px;

          #searchContainer {
            width: 100%;
            padding: 16px 16px;

            form {
              width: 100%;
              gap: 12px;

              img {
                height: 28px;
              }

              input {
                font-size: 16px;
              }
            }

            button {
              padding: 12px 24px;
              font-size: 16px;
            }
          }

          span {
            font-size: 22px;
          }
        }
      }

      #right-Container {
        width: 40%;
        align-items: end;

        img {
          width: auto;
          height: 40%;
        }
      }
    }

    #findMore {
      font-size: 22px;
    }
  }

  #Map {
    iframe {
      width: 100%;
      height: 450px;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  #Home {
    height: 750px;
    padding: 40px 6%;
  }

  nav {
    #leftLink {
      gap: 20px;
    }

    #centerLink {
      gap: 6px;
      padding: 6px 8px;

      a {
        font-size: 14px;
        padding: 6px 16px;
      }
    }

    #rightLink {
      gap: 8px;

      a {
        font-size: 14px;
        padding: 6px 16px;
      }
    }
  }

  main {
    width: 100%;

    #home-Container {
      width: 100%;

      #left-Container {
        width: 50%;
        gap: 36px;

        #upperContainer {
          width: 100%;
          font-size: 56px;
          font-weight: 700;
        }

        #lowerContainer {
          #searchContainer {
            padding: 18px 18px;

            form {
              img {
                height: 30px;
              }

              input {
                font-size: 16px;
              }
            }

            button {
              padding: 12px 32px;
              font-size: 16px;
            }
          }

          span {
            font-size: 22px;
          }
        }
      }

      #right-Container {
        width: 50%;

        img {
          width: 90%;
        }
      }
    }

    #findMore {
      width: 100%;
      gap: 8px;
      font-size: 26px;
    }
  }

  #Map {
    iframe {
      width: 100%;
      height: 500px;
    }
  }
}
